$color-texto-principal: rgb(255, 243, 251);
$color-defondo-principal: rgb(12, 12, 75);
$color-cabecera: black;
$color-destacado: rgb(211, 163, 211);
// imagen de fondo cambiable en Body - https://pixabay.com/es/

* {
padding: 0%;
margin: 0%;
box-sizing: border-box;
font-size: 16px;
}

a {
    color: $color-destacado;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Cinzel', serif;
}

header {
  background: $color-cabecera;
  height: 5rem;
  font-size: 0.5rem;
  padding-left: 2rem;
  padding-right: 5rem;
  padding-top: 1.5rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

body {
  //background-color: $color-defondo-principal;
  background-image: url("../img/otro.jpg");
  width: 100%;
  background-attachment: fixed;
  overflow-x: hidden;
}

//esto es para el menu hamburguesa
.main-nav{
  position: fixed;
  top: 5rem;
  left: 0;
  height: 100vh;
  width: 100%;
  margin-left: -100%;
  transition: all .3s linear;
  background-color: rgba(117, 117, 117, 0.7);
  z-index: 100;
}
.main-nav.show{
  margin-left: 0;
}
.nav-links{
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 19rem;
  align-items: center;
  justify-content: flex-start;
}
.link-item{
  margin-top: 2rem;
  color: $color-texto-principal;
  text-decoration: none;
  position: relative;
  i {
    color: $color-destacado;
  }
}
.link-item::after {
  position: absolute;
  content: "";
  background-color:$color-destacado;
  bottom: -5px;
  left: -5px;
  width: 0%;
  height: 3px;
  transition: 0.2s ease all;
}
.link-item:hover::after {
  width: 105%;
}
.button-menu{
  z-index: 200;
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  cursor: pointer;
}
.fas.fa-bars {
  font-size: 2rem;
  color: $color-destacado;
}
.fas.fa-times {
  font-size: 2rem;
  color: $color-destacado;
}


// recordar cambiar la imagen y hacer que encaje con los rem
.logoprin {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 4rem;
}

.portada {
  height: 30rem;
  width: 100vw;
  overflow: hidden;
}

.fondoPortada {
  width: 250%;
  position: relative;
  z-index: -1;
  left: -12rem;
  top: -2rem;
  animation: aparece 2s;
}

.textoPortada {
  position: absolute;
  top: 14rem;
  right: 2rem;
  text-align: right;
  color: $color-defondo-principal;
  line-height: 4rem;
  z-index: -1;
h1 {
  font-family: 'Cinzel', serif;
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: underline overline dotted;
}
h2 {
  font-family: 'The Nautigal', cursive;
  font-size: 3.5rem;
}
h3, span {
  font-family: 'The Nautigal', cursive;
  font-size: 2.5rem;
}
#segundos {
  display: none;
}
}

.cuerpo {
  text-align: center;
  position: relative;
  h3 {
    font-family: 'The Nautigal', cursive;
    font-weight: 180;
    letter-spacing: 0.3rem;
    font-size: 2.5rem;
    color: $color-destacado;
    text-shadow: 1px 1px 2px $color-defondo-principal, 0 0 1em $color-defondo-principal, 0 0 0.2em $color-defondo-principal;
  }

h4 {
  padding: 1.5rem;
  font-family: 'Cinzel', serif;
  color: $color-texto-principal;
  font-size: 1rem;
}
p, span{
  padding-top: 0.4rem;
  font-family: 'Cinzel', serif;
  color: $color-texto-principal;
  font-size: 0.9rem;
  text-align: left;
  padding-left: 5%;
  padding-left: 5%;
}
}

.ultimo {
  padding-bottom: 1rem;
}


.caja {
  border-radius: 12px;
  margin: 1rem;
}

div.caja{
  background-color: rgba(83, 83, 83, 0.363);
}

// grid para los detalles del evento
#detalles {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 4fr;
}
.fa-calendar-day {
  grid-column: 1/2;
  grid-row: 1/3;
  padding-top: 0.4rem;
  font-size: 2rem;
  color: $color-destacado;
}
.fa-clock {
  grid-column: 1/2;
  grid-row: 3/5;
  padding-top: 0.6rem;
  font-size: 2rem;
  color: $color-destacado;
}
.uno {
  grid-column: 2/3;
  grid-row: 1;
}
#dia {
  grid-column: 2/3;
  grid-row: 2;
  font-weight:bolder;
}
.dos {
  grid-column: 2/3;
  grid-row: 3;
}
#hora {
  grid-column: 2/3;
  grid-row: 4;
  font-weight:bolder;
}
// fin del grid

.margen {
  padding-top: 1rem;
}

// configuración del slide de fotos
.container-slider {
  width: 100%;
  max-width: 900px;
  margin: auto;
  overflow-x: hidden;
  position: relative;
}
.slider {
  display: flex;
  height: 400px;
  width: 300%; //acá va 100*cantidad de imagenes
  margin-left: -100%;
}
.slider__section {
  width: 100%;
}
.slider__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.slider_btn {
  position: absolute;
  width: 40px;
  height: 40px;
  color: $color-destacado;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
}
.slider_btn-right {
  right: 5px;
}
.slider_btn-left {
  left: 5px;
}
.fas:hover {
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
// fin configuración del slide de fotos

.inst {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height:780px;
  width: 100vw;
}

.fab {
  color: $color-texto-principal;
  font-size: 3rem;
}

.centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
  p, a, span {
    padding-left: 0;
  }
  span {
    font-weight:bolder;
    font-size: 1.2rem;
  }
}
.logo_inst {
  height: 65px;
}

.confirmaciones {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
}

.btn-conf {
  width: 75%;
  height: 3rem;
  font-family: 'Cinzel', serif;
  border-radius: 12px;
  background-color: rgb(14, 112, 101);
  span {
    font-size: 1rem;
  }
  i {
    font-size: 2rem;
  }
}
.btn-flex {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.btn-mesa {
  width: 75%;
  height: 4rem;
  border-radius: 12px;
  background-color: $color-defondo-principal;
  padding-top: 0.7rem;
  img {
    max-height: 2rem;
    box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  }
}

.fin {
  height: 30vh;
  position: relative;
  overflow: hidden;
  text-align: center;
  object-fit: cover;
  .img_fin {
    position: absolute;
    top: -85%;
    left:0;
    z-index: -1;
    width: 100%;
    object-fit: cover;
  }
  h2 {
    padding-top: 2.5rem;
    font-family: 'The Nautigal', cursive;
    font-size: 5rem;
    color: $color-defondo-principal;
    text-shadow: 0 0 25px $color-destacado, 1px 1px 5px $color-texto-principal;
  }
  h3{
    padding-top: 3.5rem;
    padding-right: 1rem;
    font-family: 'The Nautigal', cursive;
    font-size: 2.5rem;
    text-decoration: dotted underline;
    text-align: right;
    color: $color-defondo-principal;
    text-shadow: 0 0 25px $color-destacado, 1px 1px 5px $color-texto-principal;
  }
}

footer {
  background-color: black;
  text-align: center;
  color: $color-texto-principal;
  padding: 0.5rem;
  line-height: 1.5rem;
}


// para transición de imágenes
@keyframes aparece {
	0% {opacity: 0%}
  15% {opacity: 15%}
  25% {opacity: 25%}
  33% {opacity: 33%}
	50% {opacity: 50%}
  66% {opacity: 66%}
  75% {opacity: 75%}
  88% {opacity: 88%}
	100% {opacity: 100%}
}
  


// para monitores
@media (min-width:769px) {
  .cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.respmenu {
  display: none;
}
.logoprin {
  right: 50%;
  width: 4rem;
}
.fondoPortada {
  width: 100%;
  left: 0;
}
.textoPortada {
  top: 40vh;
  right: 35vh;
  text-align: center;
  line-height: 7.5rem;
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 7rem;
}
h3, span {
  font-size: 4rem;
}
}
.portada .textoPortada #segundos {
  display: inline;
}


// nav
.button-menu {
  display: none;
}
.main-nav {
  position: static;
  margin-left: 0;
  flex-basis: 70%;
  height: 100%;
}
.nav-links {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  background: white;
}
.link-item {
  display: inline-block;
  margin-top: 0;
  margin-right: 2rem;
}
}
